.DS_Store
etc
class3/
class4/
class5/
class6/
class7/
class8/
class9/
assignments/assignment3.md
assignments/assignment4.md
assignments/assignment5.md
assignments/assignment6.md
assignments/extra_credit.md
finalproject.md
